.book-content {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #ddd;
}
.book-content > span {
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}
.basic {
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.basicfont {
    font-size: 20px;
    padding-bottom: 5px;
}
.basic > p {
    padding-bottom: 5px;
}
.basicul {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.basicul li::before {
    content: '\2022';
    padding-right: 10px;
}
.intro {
    border-bottom: 1px solid #ddd;
}
.introfont {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.intro > p {
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.indexfont {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.index {
    border-bottom: 1px solid #ddd;
}
.index > p {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.review {
    padding-top: 20px;
}
.reviewfont {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.review > img {
    padding-top: 10px;
    padding-left: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container > .star {
    padding-top: 20px;
    padding-right: 20px;
}
.reviewdate {
    padding-left: 20px;
    color: gray;
}
.review1img {
    display: flex;
    width: 100%;
}
.review1img > img {
    width: 40%;
    height: auto;
    padding-left: 20px;
}
.review1content > p {
    padding-left: 20px;
}
.review1content > .lastp {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.reviewcontent > p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.reviewbtn {
    text-align: center;
}
.reviewbtn > button {
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border: 1px solid #999;
    padding: 0 6px;
}
.reviewcontent {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.hidden {
    display: none;
}
.hidden > p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.reviewplus {
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}
.returntitle {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.returnfont {
    font-size: 17px;
    padding-left: 20px;
    padding-top: 20px;
}
.return {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.return > p {
    padding-top: 5px;
    padding-left: 20px;
}
.hidden9 > img {
    width: 200px;
    height: auto;
    padding-left: 20px;
}

@media screen and (min-width: 1200px) {
    .book-content {
        display: block;
        margin: 0 auto;
        width: 1200px;
    }
    .book-content > span {
        line-height: 35px;
    }
    .basic {
        margin: 0 auto;
        width: 1200px;
    }
    .intro {
        margin: 0 auto;
        width: 1200px;
    }
    .index {
        margin: 0 auto;
        width: 1200px;
    }
    .review {
        margin: 0 auto;
        width: 1200px;
    }
    .reviewhead {
        margin: 0 auto;
        width: 1200px;
    }
    .reviewdate {
        margin: 0 auto;
        width: 1200px;
    }
    .review1img {
        margin: 0 auto;
        width: 1200px;
    }
    .review1content {
        margin: 0 auto;
        width: 1200px;
    }
    .reviewcontent {
        margin: 0 auto;
        width: 1200px;
    }
    .reviewplus {
        margin: 0 auto;
        width: 1200px;
    }
    .returntitle {
        margin: 0 auto;
        width: 1200px;
    }
    .return {
        margin: 0 auto;
        width: 1200px;
    }
}
