/* 모바일 버전 */
/* 도서 이미지 영역 */
.main {
    margin: 20px;
}

/* 도서 상품 안내 영역 */
.main_category {
    display: inline-block;
    background: #d9d9d9;
    text-align: center;
    font-size: 10px;
    color: #333333;
    border-radius: 15px;
    padding: 1px 7px 2px 7px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.main_title {
    margin-bottom: 5px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

/* p {
    margin-bottom: 5px;
    color: #9e9e9e;
    font-size: 10px;
} */

/* 가격 안내 영역 */
.info-price {
    margin-top: 10px;
    margin-bottom: 20px;
}

.price {
    display: none;
}

.sale {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.empty {
    margin-right: 15px;
}

.origin_price {
    color: rgb(202, 202, 202);
    font-size: 8px;
    text-decoration: line-through;
}

.sale_price {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
/* 마일리지, 배송 안내 영역 */
.info {
    margin: 0 20px;
}

li div {
    font-size: 12px;
    color: #333333;
    margin-bottom: 5px;
}

.list_tilte {
    position: absolute;
    z-index: 1;
}

/* 마일리지 적립 안내 팝업 영역 */

.btn_open {
    margin-left: 80px;
}

a {
    text-decoration: none;
}
.wrap {
    padding: 10px;
}

.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 2;
}
.pop_wrap:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
    z-index: 2;
}

h4 {
    text-align: center;
}

.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 240px;
    vertical-align: middle;
    text-align: justify;
}

.info_mil li {
    list-style: disc;
    font-size: 12px;
    margin: 5px 5px;
    width: auto;
}

.btn_close {
    width: 180px;
    height: 30px;
    font-size: 12px;
    background-color: #f21c8c;
    color: #fff;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.list_content {
    margin-left: 80px;
}

.ytz {
    display: inline-block;
    background: #fea700;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    border-radius: 15px;
    padding: 1px 7px 2px 7px;
    margin-bottom: 5px;
}

.ytz_text {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

/* 별점 및 리뷰 안내 영역 */

.review_list {
    margin: 0 20px;
    display: flex;
    align-items: center; /* 세로로 가운데 정렬 */
    height: 20px;
}

.score {
    font-size: 12px;
    color: #cacaca;
}
/* span {
    color: #333333;
    font-size: 12px;
} */

/* .button {
    text-align: center;
    margin: 15px;
} */

/* button {
    width: 100%;
    height: 30px;
    /* margin: 10px; */
/* font-size: 12px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 10px;
    border: 1px solid #cacaca;
} */

button.clicked {
    background-color: #9e9e9e;
}

/* 장바구니 수량 */

.count {
    display: none;
}

/* 광고 영역 */
.ad {
    margin-top: 10px;
}

/* 오늘의 추천 영역 */

.today_title {
    font-weight: bold;
    font-size: 14px;
    margin: 15px 20px;
}

.recommend_move {
    width: 100%;
    overflow-x: auto;
}

.recommend_move_list {
    display: flex;
    margin: 0 15px;
    -ms-overflow-style: none;
}

.recommend_move_list:-webkit-scrollbar {
    display: none;
}

.recommend_move_item {
    margin-left: 5px;
}

.move-category {
    display: inline-block;
    background: #d9d9d9;
    text-align: center;
    font-size: 8px;
    color: #333333;
    border-radius: 12px;
    padding: 1px 7px 2px 7px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.move_title {
    font-size: 12px;
    font-weight: bold;
}

.recommend_move_info {
    font-size: 10px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.move_review_list {
    display: flex;
    align-items: center; /* 세로로 가운데 정렬 */
    height: 20px;
}

.move_score {
    font-size: 10px;
    color: #cacaca;
}

.empty_box {
    border: 10px solid #9e9e9e;
    background-color: #9e9e9e;
}

/* PC버전 */

@media screen and (min-width: 1200px) {
    .main {
        margin: 50px 360px 0 360px;
    }

    /* 도서 이미지 영역 */
    .main_book {
        width: 300px;
        height: 450px;
    }

    /* 도서 상품 안내 영역  */
    .book_content {
        display: block;
        position: absolute;
        margin: 0 360px 0 360px;
        top: 50px;
    }

    .main_category {
        margin: 0 0 10px 0;
        font-size: 12px;
    }

    .main_title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .info_book {
        color: #333333;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .main_hr {
        border: 1px solid #e5e5e5;
    }

    /* 가격 안내 영역역 */
    .info-price {
        position: absolute;
        margin: 20px 360px 0 360px;
        top: 150px;
    }

    .price {
        display: inline-block;
        color: #333333;
        font-size: 14px;
        margin-right: 40px;
    }

    .sale {
        font-size: 14px;
    }

    .origin_price {
        font-size: 12px;
        margin-left: -10px;
    }

    .sale_price {
        font-size: 14px;
        margin-left: 10px;
    }

    /* 모바일 구분선 */
    .sub_hr {
        border: none;
    }

    /* 마일리지 안내 영역 */
    .info {
        margin: 0px 360px;
    }

    .info-list1 .mileage {
        position: absolute;
        margin: 20px 360px 0 360px;
        top: 180px;
    }

    .list_tilte {
        font-size: 14px;
    }

    .list_content {
        display: inline-block;
        font-size: 14px;
        margin-left: 70px;
    }

    .mile-list1 {
        margin: 0 0 0 70px;
    }

    .mile-list2 {
        margin: 0 10px 0 0;
    }

    /* 마일리지 안내 팝업 */

    .pop_wrap .pop_inner {
        padding: 30px 50px;
        width: auto;
    }

    .info_mil li {
        list-style: disc;
        font-size: 12px;
        margin: 15px 0 15px 0;
        width: auto;
    }

    .btn_close {
        width: 500px;
        font-size: 14px;
        margin-top: 30px;
    }

    .btn_open {
        margin: 0 10px 0 0;
    }

    /* 배송 안내 영역 */
    .info-list2 {
        position: absolute;
        margin: 20px 360px 0 360px;
        top: 210px;
    }

    .ytz {
        margin: 0 0 0 70px;
        font-size: 12px;
    }

    .ytz ~ div {
        margin: 10px 0 0 70px;
    }

    /* 별점 및 리뷰 안내 영역 */

    .review_list {
        margin: 0px 360px 0px 360px;
    }

    .review_list img {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 350px;
    }

    .review_list span {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 355px;
    }

    /* .button {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 695px;
        width: 280px;
        height: 30px;
        /* margin: 10px; */
    /* font-size: 12px;
        background-color: #ffffff;
        color: #333333;
        border-radius: 10px;
        border: 1px solid #cacaca;
    } */
    */

    /* 장바구니 수량 영역 */

    .count {
        display: block;
        margin: 0px 360px;
        position: relative;
        top: -200px;
        left: 350px;
    }

    .quantity {
        font-size: 14px;
        color: #333333;
    }

    #quantity {
        text-align: center;
        border: 1px solid #cacaca;
        position: absolute;
        font-size: 14px;
        width: 50px;
        height: 28px;
    }

    .arrow {
        text-align: center;
        position: absolute;
        left: 90px;
        top: 0px;
    }

    .plus {
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 0;
    }

    .minus {
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 0;
        position: absolute;
        left: 0px;
        bottom: -7px;
    }

    /* 광고 배너 영역 */
    /* 수정 해야함 */

    .ad {
        margin: 0 360px 0 360px;
        position: relative;
        bottom: 70px;
    }

    .ad-left {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
    }

    /* 오늘의 추천 영역 */
    .today_recommend {
        margin: 0 360px 0 360px;
    }
}
