.doriban {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 10px;
}
.doriban > span {
    margin-left: 20px;
    font-size: 20px;
}
.basic {
    margin-top: 10px;
    margin-left: 20px;
}
.basicfont {
    font-size: 20px;
    margin-bottom: 5px;
}
.basic > p {
    margin-bottom: 5px;
}
.basicul {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.basicul li::before {
    content: '\2022';
    margin-right: 10px;
}
.introfont {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.intro > p {
    margin-top: 5px;
    margin-left: 20px;
}
.mokchafont {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.mokcha > p {
    margin-left: 20px;
    margin-top: 5px;
}
.reviewfont {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.review > img {
    margin-top: 10px;
    margin-left: 20px;
}
.reviewfont {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 17px;
}
.reviewhead {
    display: flex;
    justify-content: space-between;
}
.reviewhead > .star {
    margin-top: 20px;
    margin-right: 20px;
}
.reviewdate {
    margin-left: 20px;
    color: gray;
}
.review1img {
    display: flex;
}
.review1img > img {
    width: 330px;
    height: 400px;
    margin-left: 20px;
}
.review1content > p {
    margin-left: 20px;
}
.review2content > p {
    margin-left: 20px;
}
.reviewbtn {
    text-align: center;
}
.reviewbtn > button {
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border: 1px solid #999;
    padding: 0 6px;
}
.review3content > p {
    margin-left: 20px;
}
.review4content > p {
    margin-left: 20px;
}
.review5content > p {
    margin-left: 20px;
}
.reviewplus {
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
.returntitle {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.returnfont {
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
}
.return1 > p {
    margin-top: 5px;
    margin-left: 20px;
}
.return2 > p {
    margin-top: 5px;
    margin-left: 20px;
}
.return3 > p {
    margin-top: 5px;
    margin-left: 20px;
}
.return4 > p {
    margin-top: 5px;
    margin-left: 20px;
}
.return5 > p {
    margin-top: 5px;
    margin-left: 20px;
}
p {
    margin-right: 20px;
}
