.faqQst {
    margin:0 20px 20px;
    position: relative;
}

.faqTit {
    display: none;
}
.faqSearchBox {
    display: flex;
    flex-wrap: no;
    width:700px;
    /* position: relative; */
}
.faqSearch {
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    line-height: 40px;
    height: 40px;
    width: 100%;
}
span {
    margin: 10px;
}
.faqSearchBtn {
    width: 30px;
    height: 30px;
    /* position: relative; */
    top: auto;
    right: auto;
    background:url('/img/search.png') 0 0 no-repeat;
    background-size: contain;
    background-position: right;
    border: none;
    background-color: transparent; 

}
.faqMenuBox {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin:0 20px 20px;

}
.faqMenu{
    line-height: 40px;
    height: 40px;
    width: 33.3%;
    text-align: center;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 12px;

}
.faqMenu.active {
    background-color: #ddd;
}
.faqQnaBox {
    margin-bottom: 20px;
}
.faqQ {
    padding: 15px 20px 15px 40px;
    border-bottom: 1px solid #ddd;
    text-indent: -20px;
}
.qst {
    font-weight: 700;
    font-size: 16px;
    color: #1d45d4;
}
.faqA {
    padding: 15px 20px 15px 40px;
    border-bottom: 1px solid #ddd;
    text-indent: -20px;
    background-color: #ddd;
    display: none;
}
.ans {
    font-weight: 700;
    font-size: 16px;
    color: #1d45d4;
}

/* 아코디언 */
.faqQnaBox .faqA {
    display: none;
}

.faqQnaBox .faqQ {
    cursor: pointer;
}
.faqQnaBox .faqQ:hover {
    background-color: #ddd;
  }
  
  .faqQnaBox .faqQ.active {
    font-weight: bold;
  }
  /* 아코디언  */



.faqPagerBox {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.faqPager {
    margin: 0 7px;
    width: 20px;
    height: 20px;
    /* line-height: 20px; */
    font-size: 12px;
    color: #777;
    border: 1px solid #ddd;
    text-align: center;
}
.faqPager.active {
    border: none;
    background-color: #333;
    color: #fff;

}

/* pc  */
@media screen and (min-width: 1200px){
    .faqContent{width: 1200px; margin: auto;}
    .faqQst{display: flex; justify-content: space-between;}
    .faqTit{display: block; font-size: 30px; font-weight: 800;}
    .faqSearch {width: 60%; margin: 0; border: 2px solid #333; 10px; padding-left: 30px; line-height: 60px; height: 60px; width: 90%;}
    /* .faqSearchBtn {width: 30px; height: 30px; right:20px; none;   color:#333;} */
    .faqMenuBox {display:flex; flex-wrap: nowrap; margin: 0 20px 20px;}
    .faqMenu {line-height:50px; height:50px; text-align: center; font-size: 15px; width: auto; padding: 0 20px;}
    .faqSearchBtn {width: 90px; height: 60px;  background-color: black; color:#fff; border-radius: 8px; display: flex; align-items: center; font-size: 20px; justify-content: center;background-image: none;}
    .faqSearchBtn::before {
        content: "검색";
        display: flex;}
    /* .faqMenu:nth-child(3n) {
        border-right: none; */
    }


