.hide{display: none;}
.tb{font-weight: 700;}


/* header */
header {width: 100%; height: 60px; display: flex; position: fixed; justify-content: space-between; align-items: center; top: 0; left: 0; border-bottom: 1px solid #eee;}
.hLogo{width: 60px; height: 100%; padding: 15px 10px; background: #fff; z-index: 999;}
.hLogo img{width: 40px; height: auto;}

.hIcons{display: flex;}
.hIcons .hIcon{margin-right: 10px;}

.hSearch{position: relative; width: 100%; min-width: 180px; margin-right: 10px;}
.hSearch input{border: none; background: #eee; width: 100%; height: 40px; line-height: 40px; border-radius: 20px;padding: 0 15px;}
.hSearchIcon{position: absolute; top: 50%; right: 10px; transform: translateY(-40%);}

.moMenuBox{position: fixed; top: 60px; bottom: 0; right: 0; left: 0; width: 100%;overflow-y: auto; z-index: 1000; background: #fff; z-index: 999;}
.moLogin{height: 70px; margin: 20px; background: #eee; border-radius: 10px; line-height: 70px; padding-left: 20px;}

.moMenuBtn{display: flex; justify-content: space-evenly; margin: 0 20px 20px 20px;}
.moBtn{display: flex; flex-direction: column; justify-content: center;}
.moBtnText{font-size: 12px; text-align: center;}

.mmlCategory{width: 100%; height: 50px; line-height: 50px; background: #eee;padding: 0 20px; font-weight: 700; border-bottom: 1px solid #ddd;}
.mmlSub{width: 100%; height: 40px; line-height: 40px; border-bottom: 1px solid #eee; padding: 0 20px;}


/* container */
.container{padding: 60px 0;}

/* slide */
.slide{position: relative; margin-bottom: 20px;}
.slideImg{width: 100%;}
.slideImg img{width: 100%;}

.slidePager{position: absolute; bottom: 10px; right: 20px; display: flex; justify-content: center; text-indent: -9999px; width: 50px; height: 20px; background-color: rgba(0,0,0,0.5); border-radius: 10px;}
.slidePager p{width: 10px; height: 10px; background-color: #eee; border-radius: 5px; margin: 0 10px; display: none;}
.slidePager p.pagerActive{background-color: #777;}

/* tab */
/* .tab{margin: 0 20px 20px 20px; width: 100%;}
.tabMenu{width: 100%; overflow: scroll;}
.tabBtn{display: inline-block; height: 30px; padding: 0 15px; line-height: 30px; background-color: #eee; margin-right: 10px;} */





/* footer */
footer{text-align: center; background: #eee; padding: 15px 0 40px 0;}
.flogo{margin-bottom: 10px; font-weight: 500;}
.fText{margin: 0 20px 10px 20px;}
.fText span{font-size: 10px; color: #666; display: inline-block;}
.fText span:after{content: ""; display: inline-block; width: 1px; height: 8px; background: #999; margin: 0 6px;}
.fMenu{margin: 0 16px 10px 16px; display: flex; flex-wrap: wrap; justify-content: center;}
.fMenu p{color: #999; margin: 4px; font-size: 10px;}
.fMenu p.tcbl{color: #555; font-weight: 500;}
.fCopy{color: #bbb; font-size: 10px; padding-bottom: 15px; border-bottom: 1px solid #ddd; margin-bottom: 15px;}
.fTel{margin-bottom: 15px; font-weight: 500;}
.ftText{color: #777; font-size: 12px;}
.fBtns{display: flex; justify-content: center;}
.fBtn{width: 135px; height: 40px; background: #fff; border: 1px solid #ddd; border-radius: 10px; padding: 5px 0 5px 40px; font-size: 10px; word-break: keep-all; text-align: left; background: url();}
.fBtn.escrow{margin-right: 10px; background: #fff url('https://image.aladin.co.kr/img/footer/footer_escrow.jpg') no-repeat center left 10px / 24px 24px;}
.fBtn.isms{margin-right: 10px; background: #fff url('https://image.aladin.co.kr/img/footer/footer_isms.jpg') no-repeat center left 10px / 24px 24px;}